<div class="row">
    <div class="col-xs-12 gemHeader">
        <a class="sorter" ng-show="!AtoZ" ng-click="AtoZ=true"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
        <a class="sorter" ng-show="AtoZ" ng-click="AtoZ=false"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
        <div class="header">Gems</div>
        <a class="trash" ng-click="deleteAll()"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
</div>
<div class="row" ng-repeat="gem in gems | orderBy:gem.name:AtoZ">
    <div class="col-xs-12 gemContainer" ng-class="{'last':$last}">
        <img src="images/gems.png">
        <div class="inner-container container-fluid" ng-class="gem.editMode?'editMode':''">
            <input type='text' ng-model="gem.name" class="name" ng-readonly="!gem.editMode">
            <input type='text' ng-model="gem.description" class="description" ng-readonly="!gem.editMode">
            <!-- Edit and delete options -->
            <div class="iconContainer">
                <a ng-show="!gem.editMode" ng-click="edit(gem)"><span class="glyphicon glyphicon-pencil"></span></a>
                <a ng-show="gem.editMode" ng-click="save(gem)"><span class="glyphicon glyphicon-floppy-disk"></span></a>
                <a ng-click="deleteGem(gem)"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
    </div>
</div>

<button class='addButton' ng-click="openAddModel()">
    +
</button>